<div class="tree">
    <ul class="ul">
        <li class="li">History Commit
            <ul>
                <li class="li"><button class="btn-git-branch">Branch 1</button>
                    <ul class="ul">
                        <li class="li"><button class="btn-git">Commit 1</button> <i class="is-primary is-dark fi-sr-left"></i></li>
                        <li class="li"><button class="btn-git">Commit 2</button></li>
                        <li class="li"><button class="btn-git">Commit 3</button></li>
                        <li class="li"><button class="btn-git">Commit 4</button></li>
                    </ul>
                </li>
                <li class="li">
                    <button class="btn-git-branch">Branch 2</button>
                    <ul class="ul">
                        <li class="li"><button class="btn-git">Commit 1</button></li>
                        <li class="li"><button class="btn-git">Commit 2</button></li>
                    </ul>
                </li>
                <li class="li">
                    <button class="btn-git-branch">Branch 3</button>
                    <ul class="ul">
                        <li class="li"><button class="btn-git">Commit 1</button></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>