<div class="tree">
    <center>
      <label for="">User Name</label><br>
      <img src="https://static.vecteezy.com/system/resources/previews/011/097/411/non_2x/cute-illustration-of-astronaut-riding-a-rocket-into-space-free-vector.jpg" alt="" class="icon-profile">
      <br><br>
      <label for=""><i class="fi fi-sr-calendar"></i> 04/06/2024</label>
      <br><br>
      <div class="field">
        <div class="control label-git">
          <label for="" class="label-git">Branch</label>
          <input class="input" type="text" value="Branch" readonly>
        </div>
      </div>
      <div class="field">
        <div class="control label-git">
          <label for="" class="label-git">Commit</label>
          <textarea class="textarea" type="text" readonly>First Commit</textarea>
        </div>
      </div>
      <div class="buttons">
        <button class="button is-primary"><i class="fi fi-sr-add"></i></button>
        <button class="button is-link"><i class="fi fi-sr-code-branch"></i></button>
        <button class="button is-danger"><i class="fi fi-sr-trash"></i></button>
      </div>
    </center>
</div>