{% include 'partials/head.html' %}
{% include 'partials/navbar.html' %}

<body>
  <center>
    <div class="container-form-log-in p-3">
      <form action="/sign_up_user" method="post">
        <label for="">Sign Up</label>
        <hr>

        <div class="field">
          <label class="label">E-mail</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="E-mail" value="" name="email" required>
            <span class="icon is-small is-left">
              <i class="fi fi-sr-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>


        <div class="field">
          <label class="label">password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="Password" value="" name="password" required>
            <span class="icon is-small is-left">
              <i class="fi fi-sr-lock"></i>
            </span>
          </div>
        </div>

        <div class="control">
          <button class="button is-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </center>
</body>