<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <style>
        .container-form-log-in{
            width: 25%;
            text-align: left;
        }
    </style>
</head>

<body>
    <center>
    <div class="container-form-log-in p-3">
        <form action="" method="post">
            <label for="">Create a new project</label>
            <hr>
            <div class="field">
                <label class="label">Project Name</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="Name" value="">
                    <span class="icon is-small is-left">
                        <i class="fi fi-sr-pencil"></i>
                    </span>
                </div>
            </div>
    
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                  <textarea class="textarea" placeholder="Description..."></textarea>
                </div>
            </div>
       
            <div class="control">
                <button class="button is-primary">Submit</button>
            </div>
        </form>
    </div>
</center>
</body>

</html>